.sidebar {
    background-color: #d5eff8;
    padding: 16px;
    height: 100vh;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #abeaff;
    cursor: pointer; /* 마우스 모양 변경 */
  }