.table-container {
    padding: 16px;
    overflow-x: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  input {
    border: none;
    width: 100%;
    padding: 4px;
    outline: none;
  }
  
  button {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #81878f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #9fa2a5;
  }